* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    background-color: #000;
    background-image: url(../img/bg/fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 6500px;
    margin: 0;
    font-size: 15px;
    color: #fff;
    font-family: 'Proxima Nova', 'Noto Sans';
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;*/



@import "base/_variables.less";
// @import "base/_functions.less";
// @import "base/_utils.less";

// General
// @import "base/_base.less";

// Blocks
@import "blocks/_section-begin.less";
@import "blocks/_section-second.less";
@import "blocks/_section-third.less";
@import "blocks/_section-fourth.less";
// @import "blocks/_group-tours.less";
// @import "blocks/_private-tours.less";
// @import "blocks/_gallery.less";
// @import "blocks/_useful.less";
// @import "blocks/_team.less";
// @import "blocks/_impression.less";
// @import "blocks/_reserve.less";

// Sections
@import "sections/_header.less";
// @import "sections/_section.less";
// @import "sections/_footer.less";