* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  min-width: 320px;
}
body {
  background-color: #000;
  background-image: url(../img/bg/fon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 6500px;
  margin: 0;
  font-size: 15px;
  color: #fff;
  font-family: 'Proxima Nova', 'Noto Sans';
}
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;*/
.section-begin {
  height: 800px;
  padding-top: 90px;
  background-color: #000;
  background-image: url(../img/bg/bg2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.row-section-begin {
  display: flex;
  justify-content: space-between;
}
.section-begin__subtitle {
  font-family: 'Cooper Md BT';
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 12px;
}
.section-begin__title {
  font-family: 'Cooper Md BT';
  font-weight: normal;
  font-size: 50px;
  line-height: 60px;
  color: #DCEE19;
  margin: 0;
  margin-bottom: 30px;
}
.section-begin__text {
  width: 367px;
  font-family: 'Proxima Nova';
  font-size: 15px;
  line-height: 170%;
  color: rgba(255, 255, 255, 0.8);
}
.section-begin__text p {
  margin: 0;
  margin-bottom: 10px;
}
.section-second {
  height: 800px;
  padding-top: 155px;
  position: relative;
}
.row-section-second {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.section-second__right {
  margin-left: 30px;
  position: relative;
}
.section-second__right:before {
  content: '';
  background-image: url(../img/bg/bg-second.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 1135px;
  height: 747px;
  right: -134px;
  top: -8px;
}
.section-second__img {
  position: relative;
}
.section-second__subtitle {
  font-family: 'Cooper Md BT';
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 12px;
}
.section-second__title {
  font-family: 'Cooper Md BT';
  font-weight: normal;
  font-size: 50px;
  line-height: 60px;
  color: #DCEE19;
  margin: 0;
  margin-bottom: 30px;
}
.section-second__text {
  width: 367px;
  font-family: 'Proxima Nova';
  font-size: 15px;
  line-height: 170%;
  color: rgba(255, 255, 255, 0.8);
}
.section-second__text p {
  margin: 0;
  margin-bottom: 10px;
}
.section-third {
  height: 800px;
  padding-top: 155px;
  position: relative;
}
.row-section-third {
  display: flex;
  justify-content: space-between;
}
.section-third__right {
  position: relative;
}
.section-third__right:before {
  content: '';
  background-image: url(../img/bg/bg-third.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 1135px;
  height: 747px;
  left: -144px;
  top: -63px;
}
.section-third__img {
  position: relative;
}
.section-third__subtitle {
  font-family: 'Cooper Md BT';
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 12px;
}
.section-third__title {
  font-family: 'Cooper Md BT';
  font-weight: normal;
  font-size: 50px;
  line-height: 60px;
  color: #DCEE19;
  margin: 0;
  margin-bottom: 30px;
}
.section-third__text {
  width: 367px;
  font-family: 'Proxima Nova';
  font-size: 15px;
  line-height: 170%;
  color: rgba(255, 255, 255, 0.8);
}
.section-third__text p {
  margin: 0;
  margin-bottom: 10px;
}
.section-fourth {
  height: 800px;
  padding-top: 70px;
}
.row-section-fourth {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.section-fourth__right {
  margin-left: 30px;
}
.section-fourth__subtitle {
  font-family: 'Cooper Md BT';
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 12px;
}
.section-fourth__title {
  font-family: 'Cooper Md BT';
  font-weight: normal;
  font-size: 50px;
  line-height: 60px;
  color: #DCEE19;
  margin: 0;
  margin-bottom: 30px;
}
.section-fourth__text {
  width: 540px;
  font-family: 'Proxima Nova';
  font-size: 15px;
  line-height: 170%;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 35px;
}
.section-fourth__text p {
  margin: 0;
  margin-bottom: 10px;
}
.section-fourth__preview {
  display: flex;
  justify-content: space-between;
}
.section-fourth__preview-img {
  cursor: pointer;
  position: relative;
}
.section-fourth__preview-img a {
  display: block;
  text-decoration: none;
}
.section-fourth__preview-img a:hover {
  color: #DCEE19;
  transition: all 0.3s ease-in;
}
.section-fourth__preview-img:hover,
.section-fourth__preview-img:focus,
.section-fourth__preview-img:active {
  opacity: 0.5;
  transition: all 0.3s ease-in;
}
.section-fourth__preview-img:before {
  position: absolute;
  content: '';
  background-color: #242420;
  width: 103px;
  height: 141px;
  opacity: 0;
}
.section-fourth__preview-img img {
  width: 103px;
  height: 141px;
  margin-bottom: 15px;
}
.section-fourth__preview-title {
  cursor: pointer;
}
.section-fourth__preview-title:hover,
.section-fourth__preview-title:focus,
.section-fourth__preview-title:active {
  color: #DCEE19;
  transition: all 0.3s ease-in;
}
.section-fourth__arrow img {
  margin-right: 40px;
  margin-top: 20px;
  cursor: pointer;
}
.section-fifth {
  height: 800px;
  padding-top: 155px;
  position: relative;
}
.row-section-fifth {
  display: flex;
  justify-content: space-between;
}
.section-fifth__left {
  width: 460px;
}
.section-fifth__title {
  font-family: 'Cooper Md BT';
  font-weight: normal;
  font-size: 50px;
  line-height: 60px;
  color: #DCEE19;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}
.section-fifth__soundtrack {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;
}
.section-fifth__play {
  margin-right: 30px;
}
.section-fifth__song {
  width: 100%;
}
.section-fifth__song-subtitl {
  margin-left: 115px;
  margin-top: 9px;
}
.hr {
  margin: 0;
  padding: 0;
  height: 0;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 13px;
}
.header {
  background-color: #000;
  height: 1600px;
  background-image: url(../img/walter.png);
  background-repeat: no-repeat;
  background-position-x: 52%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 865px;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.container-big {
  width: 1440px;
}
.top-panel {
  width: 100%;
  height: 115px;
  color: #FFF;
}
.row-top-panel {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.top-panel__notification {
  display: flex;
  align-items: center;
}
.top-panel__logo {
  margin-right: 50px;
}
.top-panel__menu {
  font-size: 15px;
  line-height: 0;
}
.top-panel__menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
.top-panel__menu ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-right: 37px;
}
.top-panel__menu ul li:last-child {
  margin-right: 0;
}
.top-panel__menu ul li a {
  color: #FFF;
  text-decoration: none;
}
.top-panel__menu ul li a:hover,
.top-panel__menu ul li a:focus,
.top-panel__menu ul li a:active {
  color: #dcee19;
  transition: all 0.3s ease-in;
}
.top-panel__language--margin-small ul li {
  margin-right: 4px;
}
.middle-panel {
  width: 100%;
  height: 260px;
  margin-top: auto;
  margin-bottom: 32px;
}
.row-middle-panel {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: 100%;
}
.middle-panel__slogan {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 30px;
}
.middle-panel__title {
  margin-bottom: 45px;
}
.middle-panel__play {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.middle-panel__play .middle-panel__play-text {
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.9);
  margin-left: 30px;
}
.middle-panel__play .middle-panel__play-text a {
  text-decoration: none;
  color: #FFF;
}
.middle-panel__play .middle-panel__play-text a:hover {
  color: #dcee19;
  transition: all 0.3s ease-in;
}
.middle-panel__right-text {
  margin: 0;
  max-width: 275px;
  font-size: 15px;
  line-height: 27px;
  color: #CECECE;
  margin-left: auto;
  margin-bottom: 10px;
}
.middle-panel__right-text .p {
  margin: 0;
}
.footer-panel {
  margin-bottom: 135px;
}
.row-footer-panel {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footer-panel__left {
  display: flex;
}
.footer-panel__factoids {
  display: flex;
  align-items: center;
  margin-right: 100px;
}
.footer-panel__factoids:last-child {
  margin-right: 0;
}
.footer-panel__factoids-price {
  margin-right: 15px;
}
.footer-panel__factoids-text span {
  display: block;
  font-size: 15px;
  line-height: 18PX;
  color: rgba(206, 206, 206, 0.85);
  margin-bottom: 7px;
}
.footer-panel__factoids-text span:last-child {
  margin-bottom: 0;
}
.footer-panel__icons {
  margin-left: 20px;
}
