* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  min-width: 320px;
}
body {
  background-color: #000;
  margin: 0;
  font-size: 15px;
  color: #fff;
  font-family: 'Proxima Nova', 'Noto Sans';
}
.navigation {
  position: absolute;
  z-index: 1;
}
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;*/
.section__title {
  font-family: 'Cooper Md BT';
  font-weight: normal;
  font-size: 40px;
  line-height: 62px;
  color: #DCEE19;
  margin: 0;
  margin-bottom: 19px;
}
@media (min-width: 1200px) {
  .section__title {
    font-size: 50px;
    line-height: 62px;
    margin: 0;
    margin-bottom: 19px;
  }
}
.section__subtitle {
  font-family: 'Cooper Md BT';
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 6px;
}
.section__text {
  max-width: 100%;
  font-family: 'Proxima Nova';
  font-size: 14px;
  line-height: 170%;
  color: rgba(255, 255, 255, 0.8);
}
.section__text p {
  margin: 0;
  margin-bottom: 10px;
}
@media (min-width: 1025px) {
  .section__text {
    font-size: 15px;
  }
}
.img-adaptive,
.text-adaptive {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.display-none {
  display: none;
}
.display-block {
  display: block;
}
.transition {
  transition: all 3s ease-in;
}
.hidden {
  opacity: 0;
}
.acent-color {
  color: #DCEE19;
}
.section-begin {
  height: 800px;
  padding-top: 50px;
}
@media (min-width: 1200px) {
  .section-begin {
    padding-top: 100px;
  }
}
.row-section-begin {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 769px) {
  .row-section-begin {
    flex-direction: row;
  }
}
.section-begin__left {
  display: none;
}
@media (min-width: 1200px) {
  .section-begin__left {
    display: block;
  }
}
.section-begin__left-medium {
  display: block;
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .section-begin__left-medium {
    display: none;
  }
}
.section-begin__right {
  padding-bottom: 50px;
}
@media (min-width: 415px) {
  .section-begin__right {
    padding-bottom: 0;
  }
}
@media (min-width: 769px) {
  .section-begin__right {
    margin-left: 55px;
  }
}
.begin-img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
/*------Section second - Jesse-----------*/
.section-second {
  height: 680px;
  padding-top: 100px;
  position: relative;
}
@media (min-width: 450px) {
  .section-second {
    height: 900px;
  }
}
@media (min-width: 768px) {
  .section-second {
    height: 600px;
  }
}
@media (min-width: 1200px) {
  .section-second {
    height: 800px;
  }
}
.row-section-second {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 768px) {
  .row-section-second {
    flex-direction: row-reverse;
  }
}
.section-second__right {
  display: none;
}
@media (min-width: 1200px) {
  .section-second__right {
    display: block;
    margin-left: 30px;
    position: relative;
  }
  .section-second__right:before {
    content: '';
    background-image: url(../img/bg/bg-second.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 1135px;
    height: 747px;
    right: -134px;
    top: -8px;
  }
}
.section-second__right-medium {
  display: none;
}
@media (min-width: 1000px) {
  .section-second__right-medium {
    display: block;
    margin-bottom: 40px;
    margin-left: 30px;
    position: relative;
  }
  .section-second__right-medium:before {
    content: '';
    background-image: url(../img/bg/bg-second-medium.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 1135px;
    height: 747px;
    right: -335px;
    top: -6px;
  }
}
@media (min-width: 1200px) {
  .section-second__right-medium {
    display: none;
  }
}
.section-second__right-small {
  display: none;
}
@media (min-width: 770px) {
  .section-second__right-small {
    display: block;
    margin-bottom: 40px;
    margin-left: 30px;
    position: relative;
  }
  .section-second__right-small:before {
    content: '';
    background-image: url(../img/bg/bg-second-small.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 1135px;
    height: 747px;
    right: -575px;
    top: -6px;
  }
}
@media (min-width: 1000px) {
  .section-second__right-small {
    display: none;
  }
}
.section-second__left {
  margin-top: 250px;
}
@media (min-width: 670px) {
  .section-second__left {
    margin-top: 450px;
  }
}
@media (min-width: 770px) {
  .section-second__left {
    margin-top: 0;
  }
}
/*------Section second - Jesse-----------*/
/*------Section third - Heisenberg-----------*/
.section-third {
  padding-top: 100px;
}
@media (min-width: 768px) {
  .row-section-third {
    flex-direction: row;
  }
}
.section-third__right {
  display: none;
}
@media (min-width: 1200px) {
  .section-third__right {
    display: block;
    position: relative;
  }
  .section-third__right:before {
    content: '';
    background-image: url(../img/bg/bg-third.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 1135px;
    height: 747px;
    left: -144px;
    top: -63px;
  }
}
.section-third__right--medium {
  display: none;
}
@media (min-width: 1000px) {
  .section-third__right--medium {
    display: block;
    position: relative;
  }
  .section-third__right--medium:before {
    content: '';
    background-image: url(../img/bg/bg-third-medium.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 1135px;
    height: 747px;
    left: -114px;
    top: -48px;
  }
}
@media (min-width: 1200px) {
  .section-third__right--medium {
    display: none;
  }
}
.section-third__right--small {
  display: none;
}
@media (min-width: 768px) {
  .section-third__right--small {
    display: block;
    position: relative;
  }
  .section-third__right--small:before {
    content: '';
    background-image: url(../img/bg/bg-third-small.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 1135px;
    height: 747px;
    left: -81px;
    top: -36px;
  }
}
@media (min-width: 1000px) {
  .section-third__right--small {
    display: none;
  }
}
.section-third__img {
  position: relative;
}
/*------Section third - Heisenberg-----------*/
/*------Casts-----------*/
.section-fourth {
  height: 800px;
  padding-top: 75px;
  background-image: url(../img/bg/bg-4.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.row-section-fourth {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 769px) {
  .row-section-fourth {
    flex-direction: row-reverse;
  }
}
.section-fourth__right {
  margin-left: 0px;
  position: relative;
}
@media (min-width: 769px) {
  .section-fourth__right {
    margin-left: 30px;
  }
}
.section-four__miniatures-arrow--left {
  display: block;
  cursor: pointer;
  position: absolute;
  right: 0;
  left: 5%;
  top: 50%;
  bottom: 0;
}
@media (min-width: 769px) {
  .section-four__miniatures-arrow--left {
    display: none;
  }
}
.section-four__miniatures-arrow--right {
  display: block;
  cursor: pointer;
  position: absolute;
  right: 0;
  left: 95%;
  top: 50%;
  bottom: 0;
}
@media (min-width: 769px) {
  .section-four__miniatures-arrow--right {
    display: none;
  }
}
.section-fourth__right-jesse {
  display: none;
}
.section-fourth__subtitle {
  font-family: 'Cooper Md BT';
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 12px;
}
.section-fourth__title {
  font-family: 'Cooper Md BT';
  font-weight: normal;
  font-size: 50px;
  line-height: 60px;
  color: #DCEE19;
  margin: 0;
  margin-bottom: 30px;
}
.section-fourth__text {
  display: block;
  max-width: 100%;
  max-height: 100%;
  font-size: 14px;
  line-height: 170%;
}
@media (min-width: 769px) {
  .section-fourth__text {
    width: 540px;
    font-family: 'Proxima Nova';
    font-size: 15px;
    line-height: 170%;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 35px;
  }
}
.section-fourth__text p {
  margin: 0;
  margin-bottom: 10px;
}
.section-fourth__preview {
  display: flex;
  justify-content: space-between;
}
.section-fourth__preview-img {
  cursor: pointer;
  position: relative;
}
.section-fourth__preview-img--hover {
  position: absolute;
  margin-bottom: 15px;
}
.section-fourth__preview-img--bg {
  position: relative;
  width: 103px;
  height: 141px;
  margin-bottom: 15px;
}
.section-fourth__preview-img--bg:hover,
.section-fourth__preview-img--bg:focus,
.section-fourth__preview-img--bg:active {
  opacity: 0;
  transition: all 0.3s ease-in;
}
.section-fourth__preview-title {
  cursor: pointer;
  display: block;
}
.section-fourth__preview-title:hover,
.section-fourth__preview-title:focus,
.section-fourth__preview-title:active {
  color: #DCEE19;
  transition: all 0.3s ease-in;
}
.section-fourth__arrow img {
  margin-right: 40px;
  margin-top: 20px;
  cursor: pointer;
}
.section-fourth__miniatures--first,
.section-fourth__arrows--first {
  display: none;
}
@media (min-width: 769px) {
  .section-fourth__miniatures--first,
  .section-fourth__arrows--first {
    display: block;
  }
}
.section-fourth--actor {
  min-height: 450px;
  margin-top: 40px;
}
.swiper-container {
  max-width: 600px;
  margin-left: 0;
}
/*------ End Casts-----------*/
/*------Soundtrack-----------*/
.section-fifth {
  padding-top: 365px;
  position: relative;
  background-image: url(../img/bg/bg-5.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 769px) {
  .section-fifth {
    padding-top: 177px;
  }
}
.row-section-fifth {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 769px) {
  .row-section-fifth {
    flex-direction: row;
  }
}
.section-fifth__left {
  margin-left: 0;
}
@media (min-width: 769px) {
  .section-fifth__left {
    margin-left: 30px;
  }
}
.section-fifth__right {
  margin-bottom: 40px;
}
@media (min-width: 769px) {
  .section-fifth__right {
    margin-bottom: 0;
  }
}
.section-fifth__title {
  font-family: 'Cooper Md BT';
  font-weight: normal;
  font-size: 50px;
  line-height: 60px;
  color: #DCEE19;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}
.section-fifth__soundtrack {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 46px;
}
.section-fifth__play {
  margin-right: 30px;
}
.section-fifth__song {
  width: 100%;
}
.section-fifth__song-subtitl {
  margin-left: 115px;
  margin-top: 9px;
}
.hr {
  margin: 0;
  padding: 0;
  height: 0;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 13px;
}
/*------End Soundtrack-----------*/
/*------Watch all-----------*/
.section-sixth {
  position: relative;
  height: 800px;
  padding-top: 107px;
  background-image: url(../img/bg/bg-6.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.row-section-sixth {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
@media (min-width: 769px) {
  .row-section-sixth {
    flex-direction: row;
  }
}
.row-section-sixth:last-child {
  margin-bottom: 0;
}
.section-sixth__right {
  display: flex;
  justify-content: flex-end;
}
.section-sixth__left-img {
  position: relative;
}
.section-sixth__left-img:before {
  content: "";
  background-image: url(../img/play-big.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 128px;
  height: 128px;
  right: 43%;
  top: 37%;
}
.section-sixth__left {
  position: relative;
}
.section-sixth__left-subtitle {
  position: absolute;
  background: rgba(22, 21, 21, 0.7);
  width: 100%;
  height: 74px;
  right: 0;
  bottom: 0;
  font-size: 20px;
}
.section-sixth__left-text {
  padding-left: 40px;
  padding-top: 25px;
}
.section-sixth__right-form {
  margin-left: 90px;
}
.section-sixth__right-wrap {
  position: relative;
  margin-right: 40px;
  margin-bottom: 41px;
}
.section-sixth__right-wrap:last-child {
  margin-bottom: 0;
}
.section-sixth__right-subtitle {
  position: absolute;
  background: rgba(22, 21, 21, 0.7);
  width: 100%;
  height: 40px;
  right: 0;
  bottom: 0;
  font-size: 15px;
}
.section-sixth__right-text {
  padding-left: 15px;
  padding-top: 12px;
}
.section-sixth__left {
  position: relative;
}
.section-sixth__left-subtitle {
  position: absolute;
  background: rgba(22, 21, 21, 0.7);
  width: 100%;
  height: 74px;
  right: 0;
  bottom: 0;
  font-size: 20px;
}
.section-sixth__right-series {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  max-height: 517px;
  max-width: 400px;
  overflow-x: auto;
  overflow-y: hidden;
}
@media (min-width: 769px) {
  .section-sixth__right-series {
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
.section-sixth__right-series::-webkit-scrollbar {
  width: 1px;
}
.section-sixth__right-series::-webkit-scrollbar-thumb {
  background-color: #DCEE19;
  /* цвет плашки */
}
/*------ End Watch all-----------*/
/*------- Select episodes --------*/
.select-1,
.select-2 {
  width: 151px;
}
.select-item,
.select-2__item {
  position: relative;
  background-image: url('../img/season\ 3.svg');
  background-repeat: no-repeat;
  background-position: left;
  cursor: pointer;
  height: 50px;
}
.select-item p,
.select-2__item p {
  position: absolute;
  left: 15px;
  top: 15px;
}
.sub-items,
.select-2__sub-items {
  position: absolute;
  margin-top: 48px;
  left: 0;
}
.sub-items li,
.select-2__sub-items li {
  padding: 10px 73px 10px 13px;
  border: 1px solid #ddd;
}
.sub-items li a:hover,
.select-2__sub-items li a:hover {
  color: #DCEE19;
}
.position-z {
  position: relative;
}
/*--------- Header ----------*/
.header {
  overflow: hidden;
  position: relative;
  background-color: #000;
  height: 1280px;
}
@media (min-width: 450px) {
  .header {
    height: 1390px;
  }
}
@media (min-width: 767px) {
  .header {
    height: 1000px;
  }
}
@media (min-width: 979px) {
  .header {
    height: 1390px;
  }
}
@media (min-width: 1200px) {
  .header {
    height: 1600px;
    background-image: url(../img/bg/bg-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
.header .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../img/header-img/walter-m.jpg);
  background-repeat: no-repeat;
  background-position-x: 52%;
  height: 620px;
}
@media (min-width: 667px) {
  .header .wrapper {
    height: 520px;
  }
}
@media (min-width: 980px) {
  .header .wrapper {
    background-image: url(../img/header-img/walter-medium.png);
    height: 845px;
  }
}
@media (min-width: 1200px) {
  .header .wrapper {
    background-image: url(../img/header-img/walter.png);
  }
}
.container {
  max-width: 1218px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  height: 100%;
}
@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
.container-bg {
  background-image: url(../img/bg/bg-s.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media (min-width: 769px) {
  .container-bg {
    background-image: none;
  }
}
.container-bg--second {
  background-image: url(../img/bg/bg-s2.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media (min-width: 769px) {
  .container-bg--second {
    background-image: none;
  }
}
.container-big {
  width: 1440px;
}
.top-panel {
  width: 100%;
  height: 115px;
  color: #FFF;
  position: fixed;
  z-index: 20;
}
.row-top-panel {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.top-panel__notification {
  display: flex;
  align-items: center;
}
.top-panel__logo {
  margin-right: 50px;
}
/*---------- Menu -----------*/
.top-panel__menu {
  font-size: 15px;
  line-height: 0;
}
.nav {
  display: none;
}
@media (min-width: 1200px) {
  .nav {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
  }
}
.nav__item {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-right: 37px;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__link {
  color: #FFF;
  text-decoration: none;
}
.nav__link:hover,
.nav__link:focus,
.nav__link:active {
  color: #DCEE19;
  transition: all 0.3s ease-in;
}
.nav__item--small {
  margin-right: 4px;
}
/*--------- Mobile navigation button --------------*/
.menu-icon {
  z-index: 19;
  position: relative;
  width: 39px;
  height: 19px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .menu-icon {
    display: none;
  }
}
.menu-icon-line {
  position: relative;
  width: 39px;
  height: 1.3px;
  background-color: #fff;
}
.menu-icon-line::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: '';
  width: 39px;
  height: 1.3px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.menu-icon-line::after {
  position: absolute;
  right: 0;
  top: 10px;
  content: '';
  width: 27px;
  height: 1.3px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.menu-icon.menu-icon-active .menu-icon-line {
  background-color: transparent;
}
.menu-icon.menu-icon-active .menu-icon-line::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
.menu-icon.menu-icon-active ::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
/*--------- End Mobile navigation button --------------*/
/*--------- Mobile navigation --------------*/
.mobile-nav {
  z-index: 9;
  display: block;
  position: absolute;
  right: -300px;
  top: 0;
  padding: 30px;
  height: 3000px;
  width: 300px;
  background: rgba(12, 11, 11, 0.8);
  transition: transform 0.8s ease-in;
}
.mobile-nav--active {
  transform: translateX(-100%);
}
.mobile-nav__title {
  font-size: 20px;
  margin-top: 25px;
}
/*--------- End Mobile navigation --------------*/
.mobile-nav__list {
  display: block;
  padding: 0;
  margin-top: 40px;
}
.mobile-nav__item {
  margin-bottom: 30px;
}
.mobile-nav__link {
  color: #fff;
  text-decoration: none;
}
.mobile-nav__link:hover,
.mobile-nav__link:focus,
.mobile-nav__link:active {
  color: #DCEE19;
  transition: all 0.3s ease-in;
}
.mobile-menu__icons {
  margin-top: 50px;
}
.mobile-menu__language {
  margin-top: 40px;
  margin-bottom: 20px;
}
/*---------- End Menu -----------*/
/*-------------- Middle head ----------*/
.middle-panel {
  width: 100%;
  height: 220px;
  margin-top: auto;
}
@media (min-width: 768px) {
  .middle-panel {
    height: 260px;
  }
}
@media (min-width: 978px) {
  .middle-panel {
    height: 235px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .middle-panel {
    height: 250px;
    margin-bottom: 32px;
  }
}
.row-middle-panel {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: 100%;
}
.middle-panel__slogan {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 35px;
}
.middle-panel__title {
  display: none;
}
@media (min-width: 1025px) {
  .middle-panel__title {
    display: block;
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .middle-panel__title {
    margin-bottom: 50px;
  }
}
.middle-panel__title-medium {
  display: none;
  margin-bottom: 50px;
}
@media (min-width: 855px) {
  .middle-panel__title-medium {
    display: block;
  }
}
@media (min-width: 1025px) {
  .middle-panel__title-medium {
    display: none;
  }
}
.middle-panel__title-small {
  display: block;
  margin-bottom: 37px;
}
@media (min-width: 855px) {
  .middle-panel__title-small {
    display: none;
  }
}
.middle-panel__play {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.middle-panel__play .middle-panel__play-text {
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.9);
  margin-left: 30px;
}
.middle-panel__play .middle-panel__play-text a {
  text-decoration: none;
  color: #FFF;
}
.middle-panel__play .middle-panel__play-text a:hover {
  color: #DCEE19;
  transition: all 0.3s ease-in;
}
.middle-panel__right {
  display: none;
}
@media (min-width: 1024px) {
  .middle-panel__right {
    display: block;
  }
}
.middle-panel__right-text {
  margin: 0;
  max-width: 267px;
  font-size: 14px;
  line-height: 27px;
  color: #CECECE;
  margin-left: auto;
  margin-bottom: 10px;
}
.middle-panel__right-text .p {
  margin: 0;
}
@media (min-width: 1025px) {
  .middle-panel__right-text {
    max-width: 287px;
    font-size: 15px;
  }
}
.row-menu {
  display: flex;
  margin-top: 20px;
}
.row-menu__left {
  margin-right: 35px;
  cursor: pointer;
}
.row-menu__right {
  cursor: pointer;
}
.row-menu__right--opacity {
  opacity: 0.5;
}
/*------------- End Middle head ---------------*/
/*---------- Footer head -------------*/
.footer-panel {
  padding-bottom: 40px;
}
@media (min-width: 667px) {
  .footer-panel {
    padding-bottom: 55px;
  }
}
@media (min-width: 998px) {
  .footer-panel {
    padding-bottom: 205px;
  }
}
@media (min-width: 1200px) {
  .footer-panel {
    padding-bottom: 135px;
  }
}
.row-footer-panel {
  display: none;
}
@media (min-width: 415px) {
  .row-footer-panel {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.footer-panel__left {
  display: flex;
}
.footer-panel__factoids {
  display: none;
}
@media (min-width: 769px) {
  .footer-panel__factoids {
    display: flex;
    align-items: center;
    margin-right: 70px;
  }
}
@media (min-width: 1025px) {
  .footer-panel__factoids {
    margin-right: 100px;
  }
}
.footer-panel__factoids--length {
  margin-right: 0;
}
.footer-panel__factoids-price {
  margin-right: 15px;
}
.footer-panel__factoids-text span {
  display: block;
  font-size: 14px;
  line-height: 18PX;
  color: rgba(206, 206, 206, 0.85);
  margin-bottom: 7px;
}
.footer-panel__factoids-text span:last-child {
  margin-bottom: 0;
}
@media (min-width: 1025px) {
  .footer-panel__factoids-text span {
    font-size: 15px;
  }
}
.footer-panel__icons {
  margin-left: 20px;
}
.footer-panel__icons:first-child {
  margin-left: 0;
}
.footer-panel__language {
  display: flex;
}
@media (min-width: 769px) {
  .footer-panel__language {
    display: none;
  }
}
.footer-panel__lang {
  display: flex;
}
@media (min-width: 769px) {
  .footer-panel__lang {
    display: none;
  }
}
.fade {
  animation-name: fade;
  animation-duration: 7.5s;
}
@keyframes fade {
  from {
    opasity: 0.1;
  }
  to {
    opasity: 1;
  }
}
/*---------- End footer head ---------*/
/*--------- Header ----------*/
/*--------- Footer ----------*/
.footer {
  width: 100%;
  height: 187px;
  background: rgba(12, 11, 11, 0.8);
  margin-top: 85px;
}
.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.footer__left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer__left-menu {
  font-size: 20px;
  line-height: 24px;
  margin-right: 50px;
}
.footer__left-menu ul li {
  margin-right: 46px;
}
.footer__left-menu:last-child {
  margin-right: 0;
}
/*--------- End Footer ----------*/
