/*--------- Footer ----------*/
.footer {
  width: 100%;
  height: 187px;
  background: rgba(12, 11, 11, 0.8);
  margin-top: 85px;
}
.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.footer__left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer__left-menu {
  font-size: 20px;
  line-height: 24px;
  margin-right: 50px;
}
.footer__left-menu ul li {
  margin-right: 46px;
}
.footer__left-menu:last-child {
  margin-right: 0;
}
/*--------- End Footer ----------*/
