/*--------- Header ----------*/

.header {
    overflow: hidden;
    position: relative;
    background-color: #000;
    height: 1280px;

    @media (min-width: 450px) {
        height: 1390px;
    }

    // @media (min-width: 667px) {
    //     height: 1100px;
    // }

    @media (min-width: 767px) {
        height: 1000px;
    }

    @media (min-width: 979px) {
        height: 1390px;
    }

    // @media (min-width: 980px) {
    //     height: 1400px;
    // }

    @media (min-width: 1200px) {
        height: 1600px;
        background-image: url(../img/bg/bg-1.jpg);
        background-repeat: no-repeat;
        background-position: center;


    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: url(../img/header-img/walter-m.jpg);
        background-repeat: no-repeat;
        background-position-x: 52%;
        // background-size: 80% auto;
        height: 620px;

        @media (min-width: 667px) {
            // background-image: url(../img/header-img/walter-medium-768.png);
            height: 520px;

        }

        @media (min-width: 980px) {
            background-image: url(../img/header-img/walter-medium.png);
            height: 845px;
        }

        @media (min-width: 1200px) {
            background-image: url(../img/header-img/walter.png);
            // background-size: 100% auto;

        }
    }
}

.container {
    max-width: 1218px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    height: 100%;

    @media (min-width: 768px) {
        padding: 0 30px;
    }
}
.container-bg {
    background-image: url(../img/bg/bg-s.png);
    background-repeat: no-repeat;
    background-size: 100% auto;

    @media (min-width: 769px) {
        background-image: none;
    }
}

.container-bg--second {
    background-image: url(../img/bg/bg-s2.png);
    background-repeat: no-repeat;
    background-size: 100% auto;

    @media (min-width: 769px) {
        background-image: none;
    }
}

.container-big {
    width: 1440px;
}


.top-panel {
    width: 100%;
    height: 115px;
    color: #FFF;
    position: fixed;
    z-index: 20;
}

.row-top-panel {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.top-panel__notification {
    display: flex;
    align-items: center;
}

.top-panel__logo {
    margin-right: 50px;
}

/*---------- Menu -----------*/
.top-panel__menu {
    font-size: 15px;
    line-height: 0;

}

.nav {
    display: none;

    @media (min-width: 1200px) {
        display: block;
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: center;
    }
}

.nav__item {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 37px;

    &:last-child {
        margin-right: 0;
    }
}

.nav__link {
    color: #FFF;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        color: #DCEE19;
        transition: all 0.3s ease-in;
    }
}

.nav__item--small {
    margin-right: 4px;

}

/*--------- Mobile navigation button --------------*/

.menu-icon {
    z-index: 19;
    position: relative;
    width: 39px;
    height: 19px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;

    @media (min-width: 1200px) {
        display: none;
    }
}

.menu-icon-line {
    position: relative;
    width: 39px;
    height: 1.3px;
    background-color: #fff;
}

.menu-icon-line::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: '';
    width: 39px;
    height: 1.3px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;

}

.menu-icon-line::after {
    position: absolute;
    right: 0;
    top: 10px;
    content: '';
    width: 27px;
    height: 1.3px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;

}

.menu-icon.menu-icon-active .menu-icon-line {
    background-color: transparent;
}

.menu-icon.menu-icon-active .menu-icon-line::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active ::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

/*--------- End Mobile navigation button --------------*/

/*--------- Mobile navigation --------------*/

.mobile-nav {
    z-index: 9;
    display: block;
    position: absolute;
    right: -300px;
    top: 0;
    padding: 30px;
    height: 3000px;
    width: 300px;
    background: rgba(12, 11, 11, 0.8);
    transition: transform 0.8s ease-in;
}

.mobile-nav--active {
    transform: translateX(-100%);
}

.mobile-nav__title {
    font-size: 20px;
    margin-top: 25px;
}

/*--------- End Mobile navigation --------------*/

.mobile-nav__list {
    display: block;
    padding: 0;
    margin-top: 40px;

}

.mobile-nav__item {
    margin-bottom: 30px;

}

.mobile-nav__link {
    color: #FFF;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        color: #DCEE19;
        transition: all 0.3s ease-in;
    }
}

.mobile-menu__icons {
    margin-top: 50px;
}

.mobile-menu__language {
    margin-top: 40px;
    margin-bottom: 20px;
}

/*---------- End Menu -----------*/




/*-------------- Middle head ----------*/

.middle-panel {
    width: 100%;
    height: 220px;
    margin-top: auto;

    @media (min-width: 768px) {
        height: 260px;
    }

    @media (min-width: 978px) {
        height: 235px;
        margin-bottom: 20px;
    }

    @media (min-width: 1200px) {
        height: 250px;
        margin-bottom: 32px;

    }


}

.row-middle-panel {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 100%;
}

.middle-panel__slogan {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 35px;
}

.middle-panel__title {
    display: none;

    @media (min-width: 1025px) {
        display: block;
        margin-bottom: 40px;

    }

    @media (min-width: 1200px) {
        margin-bottom: 50px;

    }

}

.middle-panel__title-medium {
    display: none;
    margin-bottom: 50px;

    @media (min-width: 855px) {
        display: block;

    }

    @media (min-width: 1025px) {
        display: none;

    }


}

.middle-panel__title-small {
    display: block;
    margin-bottom: 37px;

    @media (min-width: 855px) {
        display: none;

    }


}

.middle-panel__play {
    display: flex;
    align-items: center;
    cursor: pointer;

    .middle-panel__play-text {
        font-size: 20px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.9);
        margin-left: 30px;

        a {
            text-decoration: none;
            color: #FFF;

            &:hover {
                color: #DCEE19;
                transition: all 0.3s ease-in;
            }
        }
    }
}

.middle-panel__right {
    display: none;

    @media (min-width: 1024px) {
        display: block;


    }

}



.middle-panel__right-text {
    margin: 0;
    max-width: 267px;
    font-size: 14px;
    line-height: 27px;
    color: #CECECE;
    margin-left: auto;
    margin-bottom: 10px;

    .p {
        margin: 0;
    }

    @media (min-width: 1025px) {
        max-width: 287px;
        font-size: 15px;

    }
}

.row-menu {
    display: flex;
    margin-top: 20px;
  }
  
  .row-menu__left {
    margin-right: 35px;
    cursor: pointer;
  }
  
  .row-menu__right {
    cursor: pointer;
  }
  
  .row-menu__right--opacity {
    opacity: 0.5;
  }

/*------------- End Middle head ---------------*/

/*---------- Footer head -------------*/
.footer-panel {
    padding-bottom: 40px;

    @media (min-width: 667px) {
        padding-bottom: 55px;

    }

    @media (min-width: 998px) {
        padding-bottom: 205px;

    }

    @media (min-width: 1200px) {
        padding-bottom: 135px;

    }


}

.row-footer-panel {
    display: none;

    @media (min-width: 415px) {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

    }
}

.footer-panel__left {
    display: flex;

}

.footer-panel__factoids {
    display: none;

    @media (min-width: 769px) {
        display: flex;
        align-items: center;
        margin-right: 70px;

    }


    @media (min-width: 1025px) {
        margin-right: 100px;

    }
}

.footer-panel__factoids--length {
    margin-right: 0;
}

.footer-panel__factoids-price {
    margin-right: 15px;
}

.footer-panel__factoids-text span {
    display: block;
    font-size: 14px;
    line-height: 18PX;
    color: rgba(206, 206, 206, 0.85);
    margin-bottom: 7px;

    &:last-child {
        margin-bottom: 0;
    }

    @media (min-width: 1025px) {
        font-size: 15px;

    }
}

.footer-panel__icons {
    margin-left: 20px;

    &:first-child {
        margin-left: 0;
    }
}

.footer-panel__language {
    display: flex;

    @media (min-width: 769px) {
        display: none;

    }


}

.footer-panel__lang {
    display: flex;

    @media (min-width: 769px) {
        display: none;

    }


}

.fade {
    animation-name: fade;
    animation-duration: 7.5s;
  }
  
  @keyframes fade {
    from {
      opasity: 0.1;
    }
    to {
      opasity: 1;
    }
  }

/*---------- End footer head ---------*/

/*--------- Header ----------*/