/*------Section third - Heisenberg-----------*/
.section-third {
  padding-top: 70px;
}
@media (min-width: 768px) {
  .row-section-third {
    flex-direction: row;
  }
}
.section-third__right {
  display: none;
}
@media (min-width: 1200px) {
  .section-third__right {
    display: block;
    position: relative;
  }
  .section-third__right:before {
    content: '';
    background-image: url(../img/bg/bg-third.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 1135px;
    height: 747px;
    left: -144px;
    top: -63px;
  }
}
.section-third__right--medium {
  display: none;
}
@media (min-width: 1000px) {
  .section-third__right--medium {
    display: block;
    position: relative;
  }
  .section-third__right--medium:before {
    content: '';
    background-image: url(../img/bg/bg-third-medium.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 1135px;
    height: 747px;
    left: -114px;
    top: -48px;
  }
}
@media (min-width: 1200px) {
  .section-third__right--medium {
    display: none;
  }
}
.section-third__right--small {
  display: none;
}
@media (min-width: 768px) {
  .section-third__right--small {
    display: block;
    position: relative;
  }
  .section-third__right--small:before {
    content: '';
    background-image: url(../img/bg/bg-third-small.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 1135px;
    height: 747px;
    left: -81px;
    top: -36px;
  }
}
@media (min-width: 1000px) {
  .section-third__right--small {
    display: none;
  }
}
.section-third__img {
  position: relative;
}
/*------Section third - Heisenberg-----------*/
