/*------Soundtrack-----------*/
.section-fifth {
  padding-top: 365px;
  position: relative;
  background-image: url(../img/bg/bg-5.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 769px) {
  .section-fifth {
    padding-top: 177px;
  }
}
.row-section-fifth {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 769px) {
  .row-section-fifth {
    flex-direction: row;
  }
}
.section-fifth__left {
  margin-left: 0;
}
@media (min-width: 769px) {
  .section-fifth__left {
    margin-left: 30px;
  }
}
.section-fifth__right {
  margin-bottom: 40px;
}
@media (min-width: 769px) {
  .section-fifth__right {
    margin-bottom: 0;
  }
}
.section-fifth__title {
  font-family: 'Cooper Md BT';
  font-weight: normal;
  font-size: 50px;
  line-height: 60px;
  color: #DCEE19;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}
.section-fifth__soundtrack {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 46px;
}
.section-fifth__play {
  margin-right: 30px;
}
.section-fifth__song {
  width: 100%;
}
.section-fifth__song-subtitl {
  margin-left: 115px;
  margin-top: 9px;
}
.hr {
  margin: 0;
  padding: 0;
  height: 0;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 13px;
}
/*------End Soundtrack-----------*/
