/*------Watch all-----------*/
.section-sixth {
  position: relative;
  background-image: url(../img/bg/bg-6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.row-section-sixth {
  position: relative;
  display: block;
}
@media (min-width: 769px) {
  .row-section-sixth {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 60px;
  }
}
.row-section-sixth:last-child {
  margin-bottom: 0;
}
.section-sixth__right {
  display: flex;
  margin-bottom: 40px;
  justify-content: flex-start;
}
@media (min-width: 769px) {
  .section-sixth__right {
    justify-content: flex-end;
    margin-bottom: 0;
  }
}
.section-sixth__left-img {
  position: relative;
}
.section-sixth__left-img:before {
  content: "";
  background-image: url(../img/play-big.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 128px;
  height: 128px;
  right: 43%;
  top: 37%;
}
.section-sixth__left {
  position: relative;
  margin-bottom: 40px;
}
.section-sixth__left-subtitle {
  position: absolute;
  background: rgba(22, 21, 21, 0.7);
  width: 100%;
  height: 15%;
  right: 0;
  bottom: 0;
  font-size: 20px;
}
.section-sixth__left-text {
  padding-left: 40px;
  padding-top: 25px;
}
.section-sixth__right-wrap {
  position: relative;
  margin-right: 40px;
  margin-bottom: 41px;
}
.section-sixth__right-wrap:last-child {
  margin-bottom: 0;
}
.section-sixth__right-subtitle {
  position: absolute;
  background: rgba(22, 21, 21, 0.7);
  width: 100%;
  height: 40px;
  right: 0;
  bottom: 0;
  font-size: 15px;
}
.section-sixth__right-text {
  padding-left: 15px;
  padding-top: 12px;
}
.section-sixth__left {
  position: relative;
}
.section-sixth__left-subtitle {
  position: absolute;
  background: rgba(22, 21, 21, 0.7);
  width: 100%;
  height: 74px;
  right: 0;
  bottom: 0;
  font-size: 20px;
}
.section-sixth__right-series {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  max-height: 517px;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
@media (min-width: 769px) {
  .section-sixth__right-series {
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
.section-sixth__right-series::-webkit-scrollbar {
  width: 1px;
}
.section-sixth__right-series::-webkit-scrollbar-thumb {
  background-color: #DCEE19;
  /* цвет плашки */
}
/*------ End Watch all-----------*/
