.section-begin {
    height: 800px;
    padding-top: 155px;
}

.row-section-begin {
    display: flex;
    justify-content: space-between;
}

.section-begin__subtitle {
    font-family: 'Cooper Md BT';
    font-size: 20px;
    line-height: 24px;
}

.section-begin__title {
    font-family: 'Cooper Md BT';
    font-weight: normal;
    font-size: 50px;
    line-height: 60px;
    color: @akcent;
    margin: 0;
}

.section-begin__text {
    width: 367px;
    font-family: 'Proxima Nova';
    font-size: 15px;
    line-height: 165%;
    color: rgba(255, 255, 255, 0.8);
    }