/*------Casts-----------*/
.section-fourth {
  background-image: url(../img/bg/bg-4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.row-section-fourth {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 769px) {
  .row-section-fourth {
    flex-direction: row-reverse;
  }
}
.section-fourth__right {
  margin-left: 0px;
  position: relative;
}
.section-four__miniatures-arrow--left {
  display: block;
  cursor: pointer;
  position: absolute;
  right: 0;
  left: 5%;
  top: 50%;
  bottom: 0;
}
@media (min-width: 769px) {
  .section-four__miniatures-arrow--left {
    display: none;
  }
}
.section-four__miniatures-arrow--right {
  display: block;
  cursor: pointer;
  position: absolute;
  right: 0;
  left: 95%;
  top: 50%;
  bottom: 0;
}
@media (min-width: 769px) {
  .section-four__miniatures-arrow--right {
    display: none;
  }
}
.section-fourth__right-jesse {
  display: none;
}
.section-fourth__subtitle {
  font-family: 'Cooper Md BT';
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 12px;
}
.section-fourth__title {
  font-family: 'Cooper Md BT';
  font-weight: normal;
  font-size: 50px;
  line-height: 60px;
  color: #DCEE19;
  margin: 0;
  margin-bottom: 30px;
}
.section-fourth__text {
  display: block;
  max-width: 100%;
  max-height: 100%;
  font-size: 14px;
  line-height: 170%;
}
@media (min-width: 769px) {
  .section-fourth__text {
    width: 540px;
    font-family: 'Proxima Nova';
    font-size: 15px;
    line-height: 170%;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 35px;
  }
}
.section-fourth__text p {
  margin: 0;
  margin-bottom: 10px;
}
.section-fourth__preview {
  display: flex;
  justify-content: space-between;
}
.section-fourth__preview-img {
  cursor: pointer;
  position: relative;
}
.section-fourth__preview-img--hover {
  position: absolute;
  margin-bottom: 15px;
}
.section-fourth__preview-img--bg {
  position: relative;
  width: 103px;
  height: 141px;
  margin-bottom: 15px;
}
.section-fourth__preview-img--bg:hover,
.section-fourth__preview-img--bg:focus,
.section-fourth__preview-img--bg:active {
  opacity: 0;
  transition: all 0.3s ease-in;
}
.section-fourth__preview-title {
  cursor: pointer;
  display: block;
}
.section-fourth__preview-title:hover,
.section-fourth__preview-title:focus,
.section-fourth__preview-title:active {
  color: #DCEE19;
  transition: all 0.3s ease-in;
}
.section-fourth__arrow img {
  margin-right: 40px;
  margin-top: 20px;
  cursor: pointer;
}
.section-fourth__miniatures--first,
.section-fourth__arrows--first {
  display: none;
}
@media (min-width: 769px) {
  .section-fourth__miniatures--first,
  .section-fourth__arrows--first {
    display: block;
  }
}
.section-fourth--actor {
  min-height: 450px;
  margin-top: 40px;
}
.swiper-container {
  max-width: 600px;
  margin-left: 0;
}
/*------ End Casts-----------*/
