/*------- Select episodes --------*/
.select-1,
.select-2 {
  width: 151px;
}
.select-item,
.select-2__item {
  position: relative;
  background-image: url('../img/season\ 3.svg');
  background-repeat: no-repeat;
  background-position: left;
  cursor: pointer;
  height: 50px;
}
.select-item p,
.select-2__item p {
  position: absolute;
  left: 15px;
  top: 15px;
}
.sub-items,
.select-2__sub-items {
  position: absolute;
  margin-top: 48px;
  left: 0;
}
.sub-items li,
.select-2__sub-items li {
  padding: 10px 73px 10px 13px;
  border: 1px solid #ddd;
}
.sub-items li a:hover,
.select-2__sub-items li a:hover {
  color: #DCEE19;
}
.position-z {
  position: relative;
}
