/*------Watch all-----------*/
@import "../base/_variables.less";

.section-sixth {
  position: relative;
  background-image: url(../img/bg/bg-6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.row-section-sixth {
  position: relative;
  display: block;

  @media (min-width: 769px) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 60px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.section-sixth__right {
  display: flex;
  margin-bottom: 40px;
  justify-content: flex-start;


  @media (min-width: 769px) {
    justify-content: flex-end;
    margin-bottom: 0;
  }
}

.section-sixth__left-img {
  position: relative;

  &:before {
    content: "";
    background-image: url(../img/play-big.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 128px;
    height: 128px;
    right: 43%;
    top: 37%;
  }
}

.section-sixth__left {
  position: relative;
  margin-bottom: 40px;
}

.section-sixth__left-subtitle {
  position: absolute;
  background: rgba(22, 21, 21, 0.7);
  width: 100%;
  height: 15%;
  right: 0;
  bottom: 0;
  font-size: 20px;
}

.section-sixth__left-text {
  padding-left: 40px;
  padding-top: 25px;
}

// .section-sixth__right-form {
//   margin-left: 90px;

//   @media (min-width: 769px) {
//     margin-left: 0;
//     margin-right: 90px;
//   }
// }

.section-sixth__right-wrap {
  position: relative;
  margin-right: 40px;
  margin-bottom: 41px;

  &:last-child {
    margin-bottom: 0;
  }
}

.section-sixth__right-subtitle {
  // position: relative;

  position: absolute;
  background: rgba(22, 21, 21, 0.7);
  width: 100%;
  height: 40px;
  right: 0;
  bottom: 0;
  font-size: 15px;
}

.section-sixth__right-text {
  padding-left: 15px;
  padding-top: 12px;
}

.section-sixth__left {
  position: relative;
}

.section-sixth__left-subtitle {
  position: absolute;
  background: rgba(22, 21, 21, 0.7);
  width: 100%;
  height: 74px;
  right: 0;
  bottom: 0;
  font-size: 20px;
}

.section-sixth__right-series {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  max-height: 517px;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  @media (min-width: 769px) {
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
  }
}


.section-sixth__right-series::-webkit-scrollbar {
  width: 1px;
}

.section-sixth__right-series::-webkit-scrollbar-thumb {
  background-color: @akcent; /* цвет плашки */
}

// .section-sixth__right-scroll {
//     position: absolute;
//     right:0;
//     top:0;
//     bottom:0;
//     height: 100%;
//     border-right: 1px solid #fff;
// }

/*------ End Watch all-----------*/
