/*------Section second - Jesse-----------*/
.section-second {
  padding-top: 70px;
  position: relative;
}
@media (min-width: 768px) {
  .section-second {
    padding-top: 0;
  }
}
.row-section-second {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 768px) {
  .row-section-second {
    flex-direction: row-reverse;
  }
}
.section-second__right {
  display: none;
}
@media (min-width: 1200px) {
  .section-second__right {
    display: block;
    position: relative;
  }
  .section-second__right:before {
    content: '';
    background-image: url(../img/bg/bg-second.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 1135px;
    height: 747px;
    right: -134px;
    top: -8px;
  }
}
.section-second__right-medium {
  display: none;
}
@media (min-width: 1000px) {
  .section-second__right-medium {
    display: block;
    margin-bottom: 40px;
    position: relative;
  }
  .section-second__right-medium:before {
    content: '';
    background-image: url(../img/bg/bg-second-medium.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 1135px;
    height: 747px;
    right: -335px;
    top: -6px;
  }
}
@media (min-width: 1200px) {
  .section-second__right-medium {
    display: none;
  }
}
.section-second__right-small {
  display: none;
}
@media (min-width: 770px) {
  .section-second__right-small {
    display: block;
    margin-bottom: 40px;
    position: relative;
  }
  .section-second__right-small:before {
    content: '';
    background-image: url(../img/bg/bg-second-small.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 1135px;
    height: 747px;
    right: -575px;
    top: -6px;
  }
}
@media (min-width: 1000px) {
  .section-second__right-small {
    display: none;
  }
}
.section-second__left {
  margin-top: 250px;
}
@media (min-width: 670px) {
  .section-second__left {
    margin-top: 450px;
  }
}
@media (min-width: 770px) {
  .section-second__left {
    margin-top: 0;
  }
}
/*------Section second - Jesse-----------*/
